body {
    margin: 0;
    display: flex;
    flex-direction: column;
}

.header {
    background: #1F2937;
    color:aliceblue;
    display: flex;
    flex-direction: column;
}

.container {
    background: lightgrey;
    display: flex;
}

.quote {
    background: #e5e7eb;
    font-size: 36px;
    font-style: light italic;
    color: #1F2937;
}