*{border: 2px solid red}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 36px;
    background: #1F2937;
    color:aliceblue;
}

#logo {
    font-size: 24px;
    color: #F9FAF8;
    display: flex;
}

ul {
    font-size: 18px;
    color: #E5E7EB;
    list-style-type: none;
    display: flex;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 36px;
    background: #1F2937;
    color:aliceblue;
}

.hero-image {
    height: 200px;
    width: auto;
    display: flex;
}

.hero-text {
    display: flex;
    flex-direction: column;
    max-width: 360px;
}

.container {
    background: whitesmoke;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 36px;
}

.info {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.box {
    height: 120px;
    width: 120px;
    border: 4px solid #3882F6;
    border-radius: 15px;
}

.quote {
    background: #e5e7eb;
    font-size: 36px;
    color: #1F2937;
    padding: 32px;
}

blockquote {
    font-style: light italic;
}

.call-to-action {
    background: #3882F6;
    display: flex;
    padding: 36px;
    justify-content: space-around;
}

.call-text {
    display: flex;
    flex-direction: column;
    text-align: left;
}

button {
    display: flex;
}

.footer {
    background: #1F2937;
    color:aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
}